.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 10px;
}

.m-5 {
  margin: 5px;
}

.m-8 {
  margin: 8px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-lg {
  margin-top: 100px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-4 {
  margin-left: 4px;
}

.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-28 {
  padding-left: 28px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.w-200 {
  width: 200px;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

.w-320 {
  width: 320px;
}

.w-full {
  width: 100%;
}

.h-30 {
  height: 30px;
}

.opacity-half {
  opacity: 0.5;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.pull-right {
  float: right;
}

.block {
  display: inline-block;
}
