.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-lg {
  margin-top: 100px;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-10 {
  padding: 10px;
}

.pt-100 {
  padding-top: 100px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.w-300 {
  width: 300px;
}

.h-30 {
  height: 30px;
}

.opacity-half {
  opacity: 0.5;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.pull-right {
  float: right;
}

.block {
  display: inline-block;
}
