/////////////////////////////////////////////////////////
// We really don't want this here                      //
// this is just temporary                              //
// eventually we need to extract this into other files //
/////////////////////////////////////////////////////////

// Todo.vue
.todo-wrapper {
  width: 400px;
  min-width: 400px;
  border: 1px solid black;
  position: relative;
}

.todo {
  text-align: left;
  width: 100%;
}

.completed-todo {
  text-decoration: line-through;
}

.even-todo {
  background-color: $gray;
  min-height: 29px;
}

.odd-todo {
  background-color: $gray-darker;
  min-height: 29px;
}

.row {
  padding: 5px;
}

// Weather.vue
.weather-wrapper {
  width: 400px;
  border: 1px solid black;
}

.current-temp {
  font-size: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.current-humidity {
  padding-top: 10px;
}

.table {
  margin: 0 auto;
  text-align: left;
}

.table td {
  margin-right: 10px;
}

.title {
  background-color: $gray-darker;
}

.even-day {
  background-color: $gray-darker;
}
.odd-day {
  background-color: $gray;
}

.day-container {
  width: 100%;
}

.forcast-img {
  margin: 0 auto;
}

// Favorite.vue
.favorite-wrapper {
  margin: 0 auto;
  width: 600px;
  border: 1px solid black;
  position: relative;
}

@media screen and (max-width: 893px) {
  .favorite-wrapper {
    margin: 0 auto;
    width: 400px;
    border: 1px solid black;
    position: relative;
  }
}

// Welcome.vue
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.grid-item-1 {
  margin-left: auto;
  width: 375px;
}

.grid-item-2 {
  height: 100vh;
  background-color: $gray-lighter;
  margin-right: auto;
  text-align: left;
  width: 100%;
  padding-left: 28px;
}

.welcome-message {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.welcome-img {
  width: 400px;
}

@media screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-item-1 {
    margin: 0 auto;
    width: 375px;
  }

  .grid-item-2 {
    background-color: $gray-lighter;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

// utility
.right-align-btn {
  position: absolute;
  right: 0;
}

.error {
  color: $error;
  margin-top: 5px;
}
