fieldset {
  border: none;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.column-2-even {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.columns-internal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dashboard-grid-item-1 {
  margin-left: auto;
  justify-self: right;
}

.dashboard-grid-item-2 {
  margin-right: auto;
  justify-self: left;
}

.weather-grid-item-1 {
  justify-self: left;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 18px;
}

.weather-grid-item-2 {
  justify-self: center;
}

.weather-grid-item-3 {
  justify-self: right;
  padding-right: 10px;
  padding-top: 15px;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .columns {
    display: grid;
    grid-template-columns: 1fr;
  }

  .dashboard-grid-item-1 {
    justify-self: center;
  }

  .dashboard-grid-item-2 {
    justify-self: center;
  }
}

.column {
  margin: 20px;
}

.float-right {
  float: right;
}
